<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sosam.model.mapper.MountainMapper">
    <select id="mntnFilter" resultType="MountainJoin" parameterType="FilterVo">
        SELECT	M.*, R.ROUTES
        FROM	mountain M INNER JOIN
        (SELECT MNTNID, COUNT(*) AS ROUTES FROM mrmapping GROUP BY MNTNID) AS R
	        ON M.MNTNID = R.MNTNID
	        	WHERE M.MNTNNAME LIKE CONCAT('%',#{keyword},'%')
		       	<if test='mntnaddr != null'>
		       		AND M.MNTNADDR LIKE CONCAT('%',#{mntnaddr},'%')
		       	</if>
	       		<if test='mntnhigh1 != 0 and mntnhigh2 != 0'>
					AND M.MNTNHIGH BETWEEN #{mntnhigh1} AND #{mntnhigh2}
	       		</if>
 				<if test="route1 != 0">
       				<![CDATA[
       					AND R.ROUTES BETWEEN #{route1} AND #{route2}
       				]]>
   				</if>
    </select>
</mapper>