<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <div id="main">

            <div class="wrap">
                <div id="contents">
                    <div class="main_area">
                        <h1 class="logo"><a href="#"><img src="/ic_/logo.png"></a></h1>
                        <div class="sc">
                        <input type="text" class="bar" placeholder="입력없이 검색시 전체결과를 볼 수 있습니다.">
                        <input type="image" class="sc_ic" src="/ic_/sc.png">
                        </div>
                        <div class="bt">
                            <button class="basic_1">내 취향 산찾기 TEST</button>
                            <button class="basic_1 tableau">타블로 버튼</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <div class="ft_wd">
                    <div class="ft_text clear">
                        <img src="/ic_/logo_w.png" class="fleft">
                        <ul class="clear">
                            <li>윤재은</li>
                            <li>박명서</li>
                            <li>조연아</li>
                            <li>임수신</li>
                            <li>개인정보처리방침</li>
                        </ul>
                    </div>
                    <div class="ft_text2">
                        <p>주소 : 서울특별시 서초구 효령로 335 플레이데이터</p>
                        <p class="copyright">©2022 KHN .ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
        </div>    
    </body>
</html>