<div id="hundred"></div>
<div class="wrapall none" id ="hundredbox">

  <div class="container">
  	<h2>100대 명산 한눈에 보기</h2>
  	
  	<hr>
  	<br>
		
    <div class="tab">
	  <button class="tablinks" onclick="openTab(event, 'regioning')">지역별 분포</button>
	  <button class="tablinks" onclick="openTab(event, 'culturing')">관광지별 분포</button>
	  <button class="tablinks" onclick="openTab(event, 'hiking')">고도별 분포</button>
	  
	</div>

	<div id="regioning" class="tabcontent">
	  <h3>지역별 분포</h3>
	  	<br>
			<div class='tableauPlaceholder' id='viz1645970375967' style='position: relative'>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
					<param name='embed_code_version' value='3' />
					 <param name='site_root' value='' />
					<param name='name' value='_16459594000010&#47;1_1' />
					<param name='tabs' value='no' />
					<param name='toolbar' value='yes' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
				<param name='language' value='ko-KR' />
				</object>
			</div>   
	</div>
	
	<div id="culturing" class="tabcontent">
	  <h3>관광지별 분포</h3>
	    <br>
        
 		<div class='tableauPlaceholder' id='viz1645685363777' style='position: relative'>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /><param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' /><param name='name' value='activities_16456853423090&#47;3' /><param name='tabs' value='no' />
                <param name='toolbar' value='yes' /><param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                <param name='language' value='ko-KR' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>  
	</div>

	<div id="hiking" class="tabcontent">
	  <h3>고도별 분포</h3>
	  	<br>
			<div class='tableauPlaceholder' id='viz1645972563773' style='position: relative'>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
					<param name='embed_code_version' value='3' /> 
					<param name='site_root' value='' />
					<param name='name' value='height_16459725536940&#47;1_1' />
					<param name='tabs' value='no' /><param name='toolbar' value='yes' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
					<param name='language' value='ko-KR' />
					<param name='filter' value='publish=yes' />
				</object>
			</div> 
	</div>
	

  </div>
</div>

