<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/headerstyle.css}" rel="stylesheet">
<link th:href="@{/css/footerstyle.css}" rel="stylesheet">

<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/mntnLst.js}"></script>
<title>CHiking</title>
</head>
<body>
	<div th:replace="fragments/header"></div>
	<div id="wrap">
		<input type="hidden" name="maddr" id="maddr" />
		<input type="hidden" name="mdiff" id="mdiff" />
		<input type="hidden" name="mheight1" id="mheight1" />
		<input type="hidden" name="mheight2" id="mheight2" />
		<input type="hidden" name="mtime1" id="mtime1" />
		<input type="hidden" name="mtime2" id="mtime2" />
		<input type="hidden" name="mheight" id="mheight" />
		<input type="text" th:value="${mName}" id="mName" />
		<div id="mntns"></div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>