<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>

<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/style_list.css}" rel="stylesheet">

<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/myPage.js}"></script>
<title>CHiking</title>
</head>
<body>
	<div id="main">
		<div th:replace="fragments/header"></div>
		<div id="wrap">
			<div id="contents">
		        <div class="page_title">
		            <h2>MY-PAGE</h2>
		        </div>
				<div class="page_box">
					<input type="text" id="uid" th:value="${session.ssui.uid}" disabled />
					<input type="text" id="uname" placeholder="* 이름" th:value="${session.ssui.uname}">
					
					<select id="uheight">
						<option value="-1" th:selected="${session.ssui.uheight==-1}">선호 고도</option>
						<option value="0" th:selected="${session.ssui.uheight == 0}">1~500</option>
						<option value="1" th:selected="${session.ssui.uheight == 1}">501~800</option>
						<option value="2" th:selected="${session.ssui.uheight == 2}">801~1200</option>
						<option value="3" th:selected="${session.ssui.uheight == 3}">1201~1600</option>
						<option value="4" th:selected="${session.ssui.uheight == 4}">1601~2000</option>
					</select>
					<div class="arrowDiv ui heightArrow"></div>
					<select id="uloc">
						<option value="-1" th:selected="${session.ssui.uloc==-1}">전국</option>
						<option value="0" th:selected="${session.ssui.uloc == 0}">서울</option>
						<option value="1" th:selected="${session.ssui.uloc == 1}">인천</option>
						<option value="2" th:selected="${session.ssui.uloc == 2}">경기</option>
						<option value="3" th:selected="${session.ssui.uloc == 3}">강원</option>
						<option value="4" th:selected="${session.ssui.uloc == 4}">충북</option>
						<option value="5" th:selected="${session.ssui.uloc == 5}">충남</option>
						<option value="6" th:selected="${session.ssui.uloc == 6}">대전</option>
						<option value="7" th:selected="${session.ssui.uloc == 7}">전북</option>
						<option value="8" th:selected="${session.ssui.uloc == 8}">전남</option>
						<option value="9" th:selected="${session.ssui.uloc == 9}">광주</option>
						<option value="10" th:selected="${session.ssui.uloc == 10}">대구</option>
						<option value="11" th:selected="${session.ssui.uloc == 11}">경북</option>
						<option value="12" th:selected="${session.ssui.uloc == 12}">경남</option>
						<option value="13" th:selected="${session.ssui.uloc == 13}">울산</option>
						<option value="14" th:selected="${session.ssui.uloc == 14}">부산</option>
						<option value="15" th:selected="${session.ssui.uloc == 15}">제주</option>
					</select>
					<div class="arrowDiv ui locArrow"></div>
					<input type="password" id="upw" placeholder="새 비밀번호를 입력하세요" class="none"/>
					<input type="password" id="upw2" placeholder="새 비밀번호를 한번 더 입력하세요" class="none"/>
					<input type="hidden" id="pwChkFlag" value="0"/>
			        <button class="hBtn" id="uipwChg">비밀번호 변경</button>
			        <button class="hBtn" id="uiSav">회원정보 저장</button>
					<button class="btn" id="home" onclick="location.href='/ch';">메인으로</button>
		            <div class="page_line"></div>
	        	    <a href="#uiDel" id="uiDel" class="toRight">회원 탈퇴</a>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>