<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/headerstyle.css}" rel="stylesheet">
<link th:href="@{/css/footerstyle.css}" rel="stylesheet">

<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/myPage.js}"></script>
<title>CHiking</title>
</head>
<body>
	<div th:replace="fragments/header"></div>
	<div id="wrap">
	
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>