<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>

<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/style_list.css}" rel="stylesheet">
<link th:href="@{/css/kng.css}" rel="stylesheet">

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<meta name="google-signin-client_id"
	content="286949249420-b9bgg36ffi3c8drn58k9l01msn4vgf8j.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/signin.js}"></script>


<title>CHiking</title>
</head>
<body>
	<div id="main">
		<div th:replace="fragments/header"></div>
		<div id="wrap">
			<div id="contents">
				<div class="main_area">
			        <div class="page_title">
			            <h2>SIGN IN</h2>
			        </div>
			        <div class="page_box">
						<input type="text" class="userId" id="uId" placeholder="아이디">
						<input type="password" class="userPw" id="uPw" placeholder="비밀번호">
						<button class="btn" id="signin">로그인</button>
						<div class="page_box2">
						<br><br>
						<h2>SIGN UP</h2>
						<br>
							<button type="button" id="klogin" style="border: 0;"><img th:src="@{/img/loginbtn/kakao_login_medium.png}" style="max-height: 36px; margin-left: 23px;"></button>
							
							<button type="button" id="naverIdLogin" style="display: none;"><img th:src="@{/img/loginbtn/naver_login.png}"></button>
							<button id="nlogin"><img th:src="@{/img/loginbtn/btn_naver.png}" style="max-height: 36px; margin-left: 10px;"></button>
							
							<button type="button" class="g-signin2" data-onsuccess="onSignIn" style="float: right; border: 0;"><img th:src="@{/img/loginbtn/google_login.png}" width="150"></button>
						</div>
			            <div class="page_line"></div>
			            <a href="/ch/id-pw" class="toRight">아이디 / 비밀번호 찾기</a>
			       </div>
		       </div>
			</div>
		</div>
		<div th:replace="fragments/footer"></div>
	</div>
	<script type="text/javascript">
		const naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "qEDuuNaNcMY_XMTrbmXy",
			callbackUrl: "http://ec2-13-124-251-213.ap-northeast-2.compute.amazonaws.com/ch/users",
			isPopup: false,
			loginButton: { color: "green", type: 2, height: 40 }
		});
	
		//네이버로그인
		naverLogin.init();
		
		document.querySelector("#nlogin").addEventListener("click",function(){
			var btnNaverLogin = document.getElementById("naverIdLogin").firstChild;
				btnNaverLogin.click();
		}); 
		
		naverLogin.getLoginStatus(function(status) {
			if (status) {
				const nickName = naverLogin.user.getNickName();
				if (confirm("회원가입을 하시겠습니까?")) {
					alert("회원가입 페이지로 이동하겠습니다.");
					naverLogin.logout();
					location.href = "/ch/newcomer";
				}
				else {
					alert("취소하셨습니다.")
					naverLogin.logout();
				}

				return;
			}
		});
		function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			if (confirm("회원가입을 하시겠습니까?")) {
				signOut();
				alert("회원가입 페이지로 이동하겠습니다.");
				location.href = "/ch/newcomer";
			} else {
				signOut();
				alert("취소하셨습니다.")
			}
		}
		function onFailure(error) {
			console.log(error);
		}

		function signOut() {
			if (gapi.auth2 != undefined) {
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function() {
					console.log('User signed out.');
				});
			}
			auth2.disconnect();
		}
		
		
	</script>
</body>
</html>