<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer_1200">
        <ul class="footer_area">
            <h2 class="footer_logo">
                <a href="#"><img src="/img/footer_logo.png"></a>
            </h2>
            <li><a href="#">대학정보공시</a></li>
            <li><a href="#">정보공개</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">사이트맵</a></li>
            <li><a href="#">찾아오시는길</a></li>
        </ul>
        <div class="footer_information">
            <span>(06643) 서울특별시 서초구 효령로 335 플레이데이터</span>
            <span>전화 : 02) 123-4567</span>
            <span>팩스 : 02) 123-4567</span>
            <br>
            <p class="copyright">©2018 INCHEON NATIONAL UNIVERSITY.ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</html>