<div id="footer">
    <div class="ft_wd">
        <div class="ft_text clear">
            <img th:src="@{/img/ic_/logo_w.png}" class="fleft">
            <ul class="clear">
                <li>윤재은</li>
                <li>박명서</li>
                <li>임수신</li>
                <li>개인정보처리방침</li>
            </ul>
        </div>
        <div class="ft_text2">
            <p>주소 : 서울특별시 서초구 효령로 335 플레이데이터</p>
            <p class="copyright">©2022 KHN .ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</div>