<div id="header">
    <div class="header_area">
		<div th:if="${session.ssui == null}">
	        <div class="top_menu">
	            <ul class="top_menu_icon">
	                <li><a href="javascript:alert('현재 지원하지 않는 기능입니다.')">LIKE</a></li>
	                <li><a href="/ch/users">LOGIN</a></li>
	               	<li><a href="/ch/my-page">MYPAGE</a></li>
	            </ul>
	        </div>
		</div>
		<div th:unless="${session.ssui == null}">
	        <div class="top_menu">
	            <ul class="top_menu_icon">
	                <li><a href="javascript:alert('현재 지원하지 않는 기능입니다.')">LIKE</a></li>
	               	<li><a href="#" onclick="logout()">LOGOUT</a></li>
	                <li><a href="/ch/my-page">MY PAGE</a></li>
	            </ul>
	        </div>
		</div>
    </div>
    <div class="menu_bar">
        <hr class="line">
    </div>
</div>