/* *{
    border: 1px solid #333;
} */
/* 怨듯넻 */
strong{
    font-weight: 600;
}
.detail_name{
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}
/* �긽�뭹�젙蹂� */
.detail{
  margin-top: 80px;
}
.detail_left{
    width: 575px;
    height: 360px;
    position: relative;
}
.detail_left .m_info{
    padding: 43px 20px;
    height: 100%;
}
.detail_left .m_info .m_info_img .m_detail_img {
	margin-left: 10px;
}
.detail_left .m_info .m_info_img ul{
    margin: 120px 0 0 25px;
}
.detail_left .m_info .m_info_img .d_love{
    position: absolute;
    top: 30px;
    right: 35px;
}
/* �삤瑜몄そ �꽕紐� */
.detail_right{
    width: 625px;
    border-top: 2px solid #191919;
}
.detail_right .m_detail_info .detail_title{
    padding: 20px 10px 15px 10px;
    border-bottom: 1px solid #ddd;
}
.detail_right .detail_ct{
    padding: 30px 30px 0 10px;
}
.detail_right .detail_ct > strong{
    display: inline-block;
    margin-bottom: 30px;
    font-size: 18px;
}
.detail_right .detail_ct p{
    line-height: 30px;
}
.detail_right .detail_ct .ct{
    line-height: 25px;
    margin-bottom: 30px;
    /*
    max-height:125px;
    overflow:hidden;
    */
    color: #888;
}
/* �벑�궛濡� */
.route,
.view{
    margin-top: 80px;
    border-top: 2px solid #191919;
}
.route .detail_name,
.view .detail_name{
    padding: 20px 10px 30px 10px;
}
.route > div,
.view > div{
    overflow: hidden;
}
.route .route_ct li{
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 66px;
    width: 187px;
    margin-right: 25px;
    font-size: 16px;
}
.route .route_ct li .dot3{
    width: 65px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}
.route .route_ct li h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 10px 0;
}
.route .route_ct li p{
    color: #999;
    line-height: 23px;
}
.route .route_ct li p strong{
    font-weight: 400;
}
/* *{
    border: 1px solid #333;
} */
/* 愿�愿묒� */
.view{
    margin-bottom: 50px;
}
.view .view_ct{
    display: flex;
    flex-wrap: wrap;
}
.view .view_ct li{
    font-size: 16px;
    padding: 30px 25px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 347px;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 25px;
    vertical-align: top;
}
.view .view_ct li:nth-child(3n){
    margin-right: 0;
}
.view .view_ct li h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 10px 0;
}
.view .view_ct li p{
    color: #888;
    line-height: 23px;
}